img
{
    width: 7%;
    
    padding-left: 45px;
    
}

.parrafo
{
    font-size: 20px;
    text-align: justify;
    padding-left:100px;
    text-indent: 30px;

}

.parrafo2
{
    text-align: justify;    
    font-size: 20px;
    padding-left:100px;
    text-indent: 30px;
    
}

strong
{
    color:red;

}